<%= image_tag "greenup3d.jpg", class:"largelogo" %>

<!-- Start Profile -->
<section id="about" class="background2 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>About</h2>
        <span class="section-divider"></span>
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-sm-4">
        <%=image_tag "me.jpg", class:"img-responsive" %>
        <div class="profile-box">
          <ul class="list-unstyled">
            <li><strong>Name:</strong> Steven Greenup</li>
            <li><strong>Twitter:</strong> <%= link_to "GREEEN_up", "https://twitter.com/GREEEN_UP" %> </li>
            <li><strong>Linkedin:</strong> <%= link_to "Steven-Greenup", "https://www.linkedin.com/in/steven-greenup-70b09038" %></li>
            <li><strong>GitHub:</strong> <%= link_to "StevenGreenup", "https://github.com/StevenGreenup" %></li>
            <li><strong>Phone:</strong> (713) 416 1217</li>
            <li><strong>Email:</strong> greenup.steven@gmail.com</li>
            <li><strong>Resume:</strong> </li>
          </ul>
        </div>
      </div><!-- column -->
      <div class="col-sm-8 mt30-xs">
        <h5 class="heading-1 mb20">Intro</h5>
        <h3 class="mb15 no-margin-top">Hi, my name is Steven Greenup.</h3>
        <p class="text-small text-switch">I have a BS in Civil Engineering from Texas Tech University, and I worked as an Engineer in Training for 3 years before realizing I wanted to become a developer.</p>
        <span class="divider"></span>
        <p class="text-small">One of my strongest traits is my focus. I have a strong focus where I can take direction, follow through, and make corrections necessary to stay on track. I prioritize, then act. I will prioritize the deliverables for a project and make sure that it stays on it’s projected course.

<br><br>I have a strong desire to learn and want to continuously improve. In particular, the process of learning, rather than the outcome, excites me. 

<br><br>I’m a very strategic and analytical person. This helped me in my past career as a Civil Engineer, because this allows me to spot relevant patterns and issues. This helps me as a Developer because I’m able to reduce bugs down to it’s simplest form to fix the problem. <br><br> I started my development journey at The Iron Yard Houston, and I feel it was one of the best decisions I've ever made.</p>


        <div class="skills">
<div class="col-sm-12">

          <div class="col-sm-6">
            <h6 class="heading-1 mt20 mb20">Back End</h6>
            <ul>
               <li>Ruby</li>
               <li>Ruby on Rails</li>
               <li>Test driven development</li>
               <li>Maintaining Databases</li>
               <li>SQLITE3</li>
               <li>Postgres</li>
               <li>Automatic deployment with Travis CI</li>
               <li>Consuming APIs</li>
               <li>Developing APIs</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h6 class="heading-1 mt20 mb20">Front End</h6>
            <ul>
              <li>HTML/CSS</li>
              <li>JQuery</li>
              <li>Javascript</li>
              <li>Bootstrap</li>

            </ul>
          </div>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <p class="text-small mt50 no-margin-bottom"><span class="text-switch">"Avoid losers.</span> If you hear someone use the words ‘impossible’, ‘never’, ‘too difficult’ too often, drop him or her from your social network. ~ Nassim Nicholas Taleb</p>
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
<!-- End Profile -->


<!-- Begin Work -->
<section id="work" class="background1 section-padding-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Projects</h2>
        <span class="section-divider mb15"></span>
        <p class="mb30 scaleReveal">Some of my work.</p>
      </div><!-- /.column -->
    </div><!-- /.row -->

    <div id="thework">
      <!-- Item 1 -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding" data-my-order="3">
          <div class="portfolio-image-holder"> <%= image_tag "whitesmall.png", class:"img-responsive portfolio-image" %> </div>
          <span class="portfolio-badge badge">Interview Prep</span>
          <span class="portfolio-hover">
          <span>
            <a href="https://interview-prepp.herokuapp.com/" target="_blank">
              <span class="portfolio-links"><span class="glyphicon glyphicon-chevron-right"></span></span>
            <br>
            <%= image_tag "interviewprep.png", class:"workpic" %></a><br>
            <span class="project-title no-margin-bottom mt10">Interview Prep</span>
          </span>
        </span>
        </div><!-- /.column -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
<!-- Begin Work -->
