<!DOCTYPE html>
<html>
    <head>
        <title>Steven Greenup</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>





    </head>



    <body>




  <% if false %>
  <%= link_to "https://github.com/StevenGreenup" do %><%= image_tag "Github.png", class:"social" %><% end %> <br>
  <%= link_to "https://www.linkedin.com/in/steven-greenup-70b09038" do %><%= image_tag "Linkedin.png", class:"social" %><% end %> <br>
  <%= link_to "https://twitter.com/GREEEN_UP" do %><%= image_tag "Twitter.png", class:"social" %><% end %> <br>
  <%= link_to "mailto:greenup.steven@gmail.com" do %><%= image_tag "mail.png", class:"social" %><% end %>
  <% end %>

        <%= yield %>




    </body>
</html>
